<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Admins</title>
    <link rel="stylesheet" href="./views/css/placeholder-loading.css">
    <link rel="stylesheet" href="./views/css/administracao.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
</head>

<body>

    <div class="loader-place"></div>

    <nav class="navbar-comeae kit-flex" style="position: sticky;">
        <div class="dv-logo-nav">
            <i class="icon-comeae fonte-logo"></i>
            <i class="icon-comeae_texto fonte-logo-texto"></i>
        </div>
        <div class="dv-identificador-nav dropdown-sair-trigger" data-target="dropdown-sair">
            <p class="fonte-primaria nome-admin">Felipe Moreira</p>
            <p class="cargo-admin">Programador</p>
            <i class="material-icons">arrow_drop_down</i>
        </div>
        <div class="waves-effect waves-light hide-on-large-only sidenav-trigger dv-menu-nav" data-target="side-actions">
            <i class="material-icons">menu</i>
        </div>
    </nav>

    <!-- DROPDOWN SAIR -->
    <ul id='dropdown-sair' class='dropdown-content'>
        <li><a>Sair</a></li>
    </ul>

    {{!-- SIDENAV ACOES --}}
    <ul id="side-actions" class="sidenav side-acoes sidenav-fixed">
        <li><a class="waves-effect" href="/resumo-adm"><i class="material-icons">home</i>Resumo</a></li>
        <li><a class="waves-effect" href="/cadastros-adm"><i class="material-icons">format_align_center</i>Gerenciar
                cadastros</a></li>
        <li><a class="waves-effect" href="/promocoes-adm"><i class="material-icons">local_atm</i>Gerenciar
                promoções</a></li>
        <li><a class="waves-effect" href="/pedidos-adm"><i class="material-icons">view_carousel</i>Gerenciar pedidos</a>
        </li>
        <li><a class="waves-effect" href="/clientes-adm"><i class="material-icons">people</i>Clientes</a>
        </li>
        <li><a class="waves-effect" href="/produtos-adm"><i class="material-icons">local_bar</i>Produtos</a>
        </li>
        <li><a class="waves-effect" href="/voucher-adm"><i class="material-icons">confirmation_number</i>Voucher</a>
        </li>
        <li><a class="atual" class="waves-effect" href="/gerencia-adm"><i class="material-icons">group_add</i>Novo
                admin</a>
        </li>
        <li><a class="waves-effect" href="/relatorios-adm"><i class="material-icons">picture_as_pdf</i>Relatórios</a>
        </li>
    </ul>

    <!-- MODAL VISUALIZAR -->
    <div id="modalVisualizar" class="modal modal-fixed-footer">
        <div class="loader-place-modal"></div>
        <div class="modal-header kit-flex header-visualizar">
            <i class="material-icons modal-close">close</i>
            <p class="fonte-primaria center">Dados do Admin</p>
        </div>
        <div class="modal-content">
            <div class="dv-informacoes">
                <div>
                    <table class="striped highlight tableVisRest">
                        <tr>
                            <th>Nome:</th>
                            <td>Joesley Batista</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>jojo@todinho.com.br</td>
                        </tr>
                        <tr>
                            <th>Criado por:</th>
                            <td>João Fellype</td>
                        </tr>
                        <tr>
                            <th>Criado em:</th>
                            <td>12/12/1212</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <section class="sec-geral">
        <div class="dv-corpo">
            <div class="row">
                <div class="corpo-geral kit-flex">
                    <a class="btn-floating btn-large waves-effect waves-light white bt-admin"><i
                            class="material-icons">person</i></a>
                    <form class="fm-add-adm">
                        <span class="fonte-primaria kit-flex">Dados admin</span>
                        <div class="input-field kit-flex dv-nome">
                            <input type="text" id="nomeadm" placeholder="Nome">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="input-field kit-flex dv-email">
                            <input type="email" id="emailadm" placeholder="Email">
                            <i class="material-icons">email</i>
                        </div>
                        <div class="input-field kit-flex dv-senha">
                            <input id="senhaadm" type="password" placeholder="Senha">
                            <i class="material-icons">lock</i>
                        </div>

                        <div style="margin-top: 10px;" class="dv-entrar-adm kit-flex">
                            <button class="fonte-primaria waves-effect waves-light btn-small bt-add-adm">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="row dv-admin-table">
                    <span class="fonte-primaria white-text kit-flex"
                        style="font-size: 1.5rem; padding-bottom: 15px;">Admins</span>
                    <table id="tableAdmin" class="display compact striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Criado por</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Joesley Batista</td>
                                <td>jojo.batista_jbs@lula.com</td>
                                <td>João Fellype</td>
                                <td>
                                    <div class="kit-flex">
                                        <button class="btn-small red kit-flex bt-action-deletar"><i
                                                class="material-icons">close</i></button><button
                                            class="btn-small blue kit-flex bt-action-visualizar modal-trigger admins"
                                            href="#modalVisualizar"><i class="material-icons">visibility</i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <footer class="rodape-mobile hide-on-large-only row center-align no-select">
        <a href="/resumo-adm" class="col s12 m12">
            <i class="icon-home"></i>
            <span class="legenda-tab-menu">Inicio</span>
        </a>
    </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"
    integrity="sha256-D0J9D4igaYyVX/Y78Tr0yoDJsy8hi14hCEdFDakBp08=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="/js/CompartilhadoADM.js"></script>
<script src="/js/gerencia-adm.js"></script>

</html>