<!DOCTYPE html>
<html lang="pt-br">

<head>
	<title>Intro</title>
	<link rel="stylesheet" type="text/css" href="./views/css/intro.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

	<div class="dv-logo">
		<div class="white-text kit-flex">
			<i class="icon-comeae"></i><br>
		</div>
		<div class="white-text kit-flex">
			<i class="icon-comeae_texto"></i>
		</div>
	</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/intro.js"></script>

</html>