<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Nova Senha</title>
    <link rel="stylesheet" type="text/css" href="/views/css/estilo_newpassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


    <div class="divnewpass">

        <div class="dv-logo-side">
            <i class="icon-comeae white-text"></i>
            <i class="icon-comeae_texto white-text"></i>
        </div>

        <p class="white-text center forte txt-rec">Recuperação de senha</p>
        <input type="hidden" name="token" value="{{token}}" />

        <form class="fm-pass">

            <div class="input-field">
                <i class="material-icons white-text see">visibility</i>
                <input required="required" placeholder="Nova senha" autocomplete="off" name="senhaNova" minlength="6" id="password"
                    type="password" class="white-text i-pass1">
            </div>

            <div class="input-field">
                <i class="material-icons white-text">lock_outline</i>
                <input required="required" placeholder="Confirmação senha" autocomplete="off" minlength="6" id="password2" type="password"
                    class="white-text i-pass2">
            </div>
            <div class="dv-bt-confirm">
                <i class="material-icons cor-secundaria">send</i>
                <button id="btnconfirm" class="waves-effect waves-light btn-small confirma white forte cor-secundaria">
                    Confirmar</button>
            </div>

        </form>
    </div>

</body>

<script src="/js/newpasswordclient.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</html>