<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Nova Senha</title>
    <link rel="stylesheet" type="text/css" href="/views/css/estilo_newpassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

    <div>
        <img style="width: 100px; margin-top: 10px; margin-left: 10px" src="/views/img/logocompleta.png" alt="">
    </div>

    <div class="divnewpass">

        <p style="text-align: center; font-size: 25px; text-shadow: 0 1px 0 black; color: rgb(0, 173, 0)">Email
            verificado!</p>
        <div  style="padding-bottom: 20px;" >

            <div class="input-field">
                <input required="required" name="senhaNova" minlength="6" id="password" type="password" class="validate pass">
                <label for="password">Nova senha</label>
                <span class="helper-text" data-error="A senha deve conter no mínimo 6 caracteres"></span>
            </div> 
                
                       <input type="hidden" name="token" class=" token"value="{{token}}" />
                    
            <div style="padding-bottom: 30px;" class="input-field">
                <input required="required" minlength="6" id="password2" type="password" class="validate">
                <label for="password2">Confirmar senha</label>
                <span class="helper-text"
                    data-error="A senha deve conter no mínimo 6 caracteres e ser idêntica a superior"></span>
            </div>

            <div>
                <button id="btnconfirm" type="submit" style="background-color: purple; height: 50px; width: 100%;"
                    class="waves-effect waves-light btn-small confirmar">Confirmar</button>
            </div>

            <span style="display: none" id="errorSpan">As senhas não conferem</span>

        </div>
    </div>

</body>


<script>
    $(document).ready(function () {

        $('#btnconfirm').click(function () {
            if ($('#password').val() == '') {
                M.toast({ html: 'Campo&nbsp<b><u>Nova Senha</u></b>&nbspvazio', classes: 'red darken-4 rounded' })
                $('#password').focus()
            } else if ($('#password2').val() == '') {
                M.toast({ html: 'Campo&nbsp<b><u>Confirmar Senha</u></b>&nbspvazio', classes: 'red darken-4 rounded' })
                $('#password2').focus()
            } else if ($('#password').val().length < 6) {
                M.toast({ html: 'A senha deve conter no mínimo 6 caracteres!', classes: 'red darken-4 rounded' })
                $('#password').focus()
            } else if ($('#password2').val().length < 6) {
                M.toast({ html: 'A senha deve conter no mínimo 6 caracteres!', classes: 'red darken-4 rounded' })
                $('#password2').focus()
            } else if ($('#password').val() != $('#password2').val()) {
                M.toast({ html: 'As senhas não conferem!', classes: 'red darken-4 rounded' })
            } else {
                M.toast({ html: 'Sucesso!', classes: 'green darken-2 rounded' })
            }
        })

        $("#password").keyup(function () {
            if ($('#password').val().length > 5 && $('#password2').val().length > 5 && ($('#password').val() != $('#password2').val())) {
                M.toast({ html: 'As senhas não conferem!', classes: 'red darken-4 rounded' })
            }
        });
        $("#password2").keyup(function () {
            if ($('#password2').val().length > 5 && $('#password').val().length > 5 && ($('#password').val() != $('#password2').val())) {
                M.toast({ html: 'As senhas não conferem!', classes: 'red darken-4 rounded' })
            }
        });
        $('.confirmar').click(function(){
              $.ajax({
            url:'/updateSenhaUsuarioRestaurante',
            type:'PUT',
            data:{senhaNova:$('.pass').val(),token:$(".token").val()},
            success:(data)=>{

            },
            error:(err)=>{

            }
        })

        })
      

    })
</script>


</html>