<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Pedidos</title>
    <link rel="stylesheet" href="./views/css/placeholder-loading.css">
    <link rel="stylesheet" href="./views/css/administracao.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        integrity="sha256-OweaP/Ic6rsV+lysfyS4h+LM6sRwuO3euTYfr6M124g=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightcase/2.5.0/css/lightcase.css">
</head>

<body>

    <div class="loader-place"></div>

    <nav class="navbar-comeae kit-flex" style="position: sticky;">
        <div class="dv-logo-nav">
            <i class="icon-comeae fonte-logo"></i>
            <i class="icon-comeae_texto fonte-logo-texto"></i>
        </div>
        <div class="dv-identificador-nav dropdown-sair-trigger" data-target="dropdown-sair">
            <p class="fonte-primaria nome-admin">Felipe Moreira</p>
            <p class="cargo-admin">Programador</p>
            <i class="material-icons">arrow_drop_down</i>
        </div>
        <div class="waves-effect waves-light hide-on-large-only sidenav-trigger dv-menu-nav" data-target="side-actions">
            <i class="material-icons">menu</i>
        </div>
    </nav>

    <!-- DROPDOWN SAIR -->
    <ul id='dropdown-sair' class='dropdown-content'>
        <li><a>Sair</a></li>
    </ul>

    {{!-- SIDENAV ACOES --}}
    <ul id="side-actions" class="sidenav side-acoes sidenav-fixed">
        <li><a class="waves-effect" href="/resumo-adm"><i class="material-icons">home</i>Resumo</a></li>
        <li><a class="waves-effect" href="/cadastros-adm"><i class="material-icons">format_align_center</i>Gerenciar
                cadastros</a></li>
        <li><a class="waves-effect" href="/promocoes-adm"><i class="material-icons">local_atm</i>Gerenciar
                promoções</a></li>
        <li class="atual"><a class="waves-effect" href="/pedidos-adm"><i class="material-icons">view_carousel</i>Gerenciar pedidos</a>
        </li>
        <li><a class="waves-effect" href="/clientes-adm"><i class="material-icons">people</i>Clientes</a>
        </li>
        <li ><a class="waves-effect" href="/produtos-adm"><i class="material-icons">local_bar</i>Produtos</a>
        </li>
        <li><a class="waves-effect" href="/voucher-adm"><i
                    class="material-icons">confirmation_number</i>Voucher</a>
        </li>
        <li><a class="waves-effect" href="/gerencia-adm"><i class="material-icons">group_add</i>Novo admin</a>
        </li>
        <li><a class="waves-effect" href="/relatorios-adm"><i class="material-icons">picture_as_pdf</i>Relatórios</a>
        </li>
    </ul>

    <!-- MODAL VISUALIZAR -->
    <div id="modalVisualizar" class="modal modal-fixed-footer">
        <div class="loader-place-modal"></div>
        <div class="modal-header kit-flex header-visualizar">
            <i class="material-icons modal-close">close</i>
            <p class="fonte-primaria center">Análise de Cancelamento</p>
        </div>
        <div class="modal-content">
            <div class="dv-informacoes">
                <span class="kit-flex cabc-table">Informação do Local</span>
                <div>
                    <table class="striped highlight tableVisRest">
                        <tr>
                            <th>Restaurante:</th>
                            <td class="local"></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td class="emailLocal"></td>
                        </tr>
                        <tr>
                            <th class="th-motivo"><i class="material-icons icone-copia tooltipped" data-position="top"
                                    data-tooltip="Copiar motivo">content_copy</i>
                                Motivo:</th>
                            <td id="motivo-text">Falta de recursos para a produção do prato solicitado.</td>
                        </tr>
                    </table>
                    <span class="kit-flex white-text header-msg-txt">Mensagem para o local</span>
                    <div class="text-resposta-rest">
                        <textarea style="resize: none; height: 100px;"></textarea>
                    </div>
                </div>
                <span class="kit-flex cabc-table">Informações do cliente</span>
                <div>
                    <table class="striped highlight tableVisRest">
                        <tr>
                            <th>Nome:</th>
                            <td class="nomeCliente"></td>
                        </tr>  
                         <tr>
                            <th>Número do Pedido:</th>
                            <td class="nmrPedido"></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td class="emailCliente">feliphmoreira.97@gmail.com</td>
                        </tr>
                        <tr>
                            <th>Solicitado:</th>
                            <td class="pedidoCliente"></td>
                        </tr>
                    </table>
                    <span class="kit-flex white-text header-msg-txt">Mensagem para o cliente</span>
                    <div class="text-resposta-cliente">
                        <textarea style="resize: none; height: 100px;"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL VER PEDIDO COMPLETO -->
    <div id="modalPedido" class="modal modal-fixed-footer">
        <div class="loader-place-modal"></div>
        <div class="modal-header kit-flex header-ver-ped">
            <i class="material-icons modal-close">close</i>
            <p class="fonte-primaria center">Pedido</p>
        </div>
        <div class="modal-content">
            <div class="dv-informacoes">
                <span class="kit-flex cabc-table">Informação do Local</span>
                <div>
                    <table class="striped highlight tableVisPed">
                        <tr>
                            <th>Restaurante:</th>
                            <td class="restaurante"></td>
                        </tr>
                        <tr>
                            <th>Produtos:</th>
                            <td class="produtos"></td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td class="total"></td>
                        </tr>
                        <tr>
                            <th>Taxa de Entrega:</th>
                            <td>R$ 10,30</td>
                        </tr>
                    </table>
                </div>
                <span class="kit-flex cabc-table">Informações do cliente</span>
                <div>
                    <table class="striped highlight tableVisPed">
                        <tr>
                            <th>Nome:</th>
                            <td class="nomecliente"></td>
                        </tr> 
            
                        <tr>
                            <th>Email:</th>
                            <td class="emailcliente"></td>
                        </tr>
                    </table>
                </div>
                <span class="kit-flex cabc-table">Informações da entrega</span>
                <table class="striped highlight tableVisPed">
                    <tr>
                        <th>Entregar em:</th>
                        <td class="endereco"></td>
                    </tr>
                    <tr>
                        <th>Nº do pedido:</th>
                        <td class="npedido"></td>
                    </tr>
                    <tr>
                        <th>Data do pedido:</th>
                        <td class="datapedido"></td>
                    </tr>
                    <tr>
                        <th>Previsão de entrega:</th>
                        <td>02/02/2020 ● 21:02 - 21:12</td>
                    </tr>
                    <tr>
                        <th>Forma de pagamento:</th>
                        <td class="formapagamento"></td>
                    </tr>
                    <tr>
                        <th>Status do Pedido:</th>
                        <td class="statuspedido"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <section class="sec-geral">
        <div class="dv-corpo">
            <div class="dv-datatables-geral">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs tabs-pedidos">
                            <li class="tab col s3"><a class="tab-cancelar kit-flex" href="#tab-cancelar">A cancelar</a>
                            </li>
                            <li class="tab col s3"><a class="tab-historico kit-flex" href="#tab-historico">Histórico</a>
                            <li class="tab col s3"><a class="tab-todos kit-flex" href="#tab-todos">Todos</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                    <div id="tab-cancelar" class="col s12">
                        <div>
                            <p class="center white-text fonte-primaria headers-ped">A cancelar</p>

                            <table id="tableCancelar" class="display compact striped">
                                <thead>
                                    <tr>
                                        <th>Restaurante</th>
                                        <th>Cliente</th>
                                        <th class="center">Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-historico" class="col s12">
                        <div>
                            <p class="center white-text fonte-primaria headers-ped">Histórico</p>
                            <table id="tableHistorico" class="display compact striped">
                                <thead>
                                    <tr>
                                        <th>Restaurante</th>
                                        <th>Cliente</th>
                                        <th class="center">Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="tab-todos" class="col s12">
                        <div>
                            <p class="center white-text fonte-primaria headers-ped">Todos</p>
                            <table id="tableTodos" class="display compact striped">
                                <thead>
                                    <tr>
                                        <th>Nº</th>
                                        <th>Restaurante</th>
                                        <th>Cliente</th>
                                        <th>Status</th>
                                        <th class="center">Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="rodape-mobile hide-on-large-only row center-align no-select">
        <a href="/resumo-adm" class="col s12 m12">
            <i class="icon-home"></i>
            <span class="legenda-tab-menu">Inicio</span>
        </a>
    </footer>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"
    integrity="sha256-D0J9D4igaYyVX/Y78Tr0yoDJsy8hi14hCEdFDakBp08=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="/js/CompartilhadoADM.js"></script>
<script src="/js/pedidos-adm.js"></script>

</html>