/* Fontes */
@font-face {
  font-family: "Isidora Alt W00 Bold";
  src: url("./fonts/isidora/eddfd86d7e01977d2d2b3861f3053992.eot");
  src: url("./fonts/isidora/eddfd86d7e01977d2d2b3861f3053992.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/isidora/eddfd86d7e01977d2d2b3861f3053992.woff2")
      format("woff2"),
    url("./fonts/isidora/eddfd86d7e01977d2d2b3861f3053992.woff") format("woff"),
    url("svsv./fonts/isidora/eddfd86d7e01977d2d2b3861f3053992.ttf")
      format("truetype"),
    url("./fonts/isidora/eddfd86d7e01977d2d2b3861f3053992.svg#Isidora")
      format("svg");
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("./fonts/ubuntu/1c5965c2b1dcdea439b54c3ac60cee38.eot");
  src: url("./fonts/ubuntu/1c5965c2b1dcdea439b54c3ac60cee38.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ubuntu/1c5965c2b1dcdea439b54c3ac60cee38.woff2")
      format("woff2"),
    url("./fonts/ubuntu/1c5965c2b1dcdea439b54c3ac60cee38.woff") format("woff"),
    url("./fonts/ubuntu/1c5965c2b1dcdea439b54c3ac60cee38.ttf")
      format("truetype"),
    url("./fonts/ubuntu/1c5965c2b1dcdea439b54c3ac60cee38.svg#Ubuntu")
      format("svg");
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon_comeae/icomoon.eot?egt8k8");
  src: url("./fonts/icomoon_comeae/icomoon.eot?egt8k8#iefix")
      format("embedded-opentype"),
    url("./fonts/icomoon_comeae/icomoon.ttf?egt8k8") format("truetype"),
    url("./fonts/icomoon_comeae/icomoon.woff?egt8k8") format("woff"),
    url("./fonts/icomoon_comeae/icomoon.svg?egt8k8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.fonte-primaria {
  font-family: "Isidora Alt W00 Bold";
}
.fonte-secundaria {
  font-family: "Ubuntu";
}
/* Icones */
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shopping-cart:before {
  content: "\e937";
}
.icon-files:before {
  content: "\e933";
}
.icon-editar2:before {
  content: "\e92e";
}
.icon-remover2:before {
  content: "\e900";
}
.icon-remover:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-cancel_presentation:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e904";
}
.icon-logout:before {
  content: "\e905";
}
.icon-arrow_forward_ios:before {
  content: "\e906";
}
.icon-arrow_forward:before {
  content: "\e907";
}
.icon-arrow_back_ios:before {
  content: "\e908";
}
.icon-arrow_back:before {
  content: "\e909";
}
.icon-trash:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e936";
}
.icon-editar2:before {
  content: "\e92e";
}
.icon-remover2:before {
  content: "\e900";
}
.icon-remover:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-cancel_presentation:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e904";
}
.icon-logout:before {
  content: "\e905";
}
.icon-arrow_forward_ios:before {
  content: "\e906";
}
.icon-arrow_forward:before {
  content: "\e907";
}
.icon-arrow_back_ios:before {
  content: "\e908";
}
.icon-arrow_back:before {
  content: "\e909";
}
.icon-trash:before {
  content: "\e90a";
}
.icon-document-list1:before {
  content: "\e930";
}
.icon-document-text:before {
  content: "\e931";
}
.icon-document-text1:before {
  content: "\e932";
}
.icon-wallet2:before {
  content: "\e92f";
}
.icon-file-text-o:before {
  content: "\e934";
}
.icon-editar:before {
  content: "\e92d";
}
.icon-fechar:before {
  content: "\ea0f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-editar3:before {
  content: "\e90b";
}
.icon-remover3:before {
  content: "\e9ad";
}
.icon-fechar:before {
  content: "\ea0f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-pedidos:before {
  content: "\e90c";
}
.icon-wallet:before {
  content: "\e90d";
}
.icon-gears:before {
  content: "\e90e";
}
.icon-wallet1:before {
  content: "\e90f";
}
.icon-map-pin:before {
  content: "\e910";
}
.icon-map:before {
  content: "\e911";
}
.icon-document-list:before {
  content: "\e912";
}
.icon-mail-envelope-closed:before {
  content: "\e913";
}
.icon-heart-outlined:before {
  content: "\e914";
}
.icon-heart:before {
  content: "\e915";
}
.icon-location-pin:before {
  content: "\e916";
}
.icon-location:before {
  content: "\e917";
}
.icon-send:before {
  content: "\e918";
}
.icon-checkmark-outline:before {
  content: "\e919";
}
.icon-rotate-left:before {
  content: "\e91a";
}
.icon-user-plus:before {
  content: "\e91b";
}
.icon-home:before {
  content: "\e91c";
}
.icon-phone:before {
  content: "\e91d";
}
.icon-unlock:before {
  content: "\e91e";
}
.icon-lock:before {
  content: "\e91f";
}
.icon-apple:before {
  content: "\e920";
}
.icon-googleplay:before {
  content: "\e921";
}
.icon-instagram:before {
  content: "\e922";
}
.icon-twitter:before {
  content: "\e923";
}
.icon-facebook:before {
  content: "\e924";
}
.icon-regiao:before {
  content: "\e925";
}
.icon-promocao:before {
  content: "\e926";
}
.icon-carrinho:before {
  content: "\e927";
}
.icon-perfil:before {
  content: "\e928";
}
.icon-comeae:before {
  content: "\e929";
}
.icon-comeae_texto:before {
  content: "\e935";
}
.icon-carrinho_vazio:before {
  content: "\e92a";
}
.icon-search:before {
  content: "\e92b";
}
.icon-help-circle:before {
  content: "\e92c";
}
.icon-bubble:before {
  content: "\e96e";
}
.icon-bubbles:before {
  content: "\e96f";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
/* Reset */
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
  font-size: 0.9rem;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  /* -webkit-tap-highlight-color: rgba(255, 255, 255, 0); */
}
body {
  background-color: purple;
}

/* PREDEFS */

.cor-secundaria {
  color: purple !important;
}

.kit-flex,
.kit-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kit-content {
  justify-content: space-between;
}

.opcy-2 {
  opacity: 0.2;
}
.opcy-4 {
  opacity: 0.4;
}
.opcy-6 {
  opacity: 0.6;
}
.opcy-8 {
  opacity: 0.8;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background: #bebebe;
}

/* layout SWAL */
.swal2-container {
  z-index: 999999999 !important;
}

.forte {
  font-weight: bold;
}

/* LAYOUT RECUPERAR SENHA */
.dv-logo-side {
  margin: 0rem 0 2rem 0;
  text-align: center;
}
.dv-logo-side > i:first-child {
  font-size: 6rem;
  display: block;
}
.dv-logo-side > i:last-child {
  font-size: 2rem;
}

.divnewpass {
  padding: 20px;
  margin: auto;
  margin-top: 1rem;
  max-width: 300px;
}

.txt-rec {
  font-size: 1rem;
}

.fm-pass {
  padding-bottom: 20px;
}

.input-field i {
  position: absolute;
  right: 13px;
  top: 12px;
}
.input-field input {
  padding: 0 40px 0 15px !important;
  width: 77% !important;
  border: 2px solid white !important;
  box-shadow: none !important;
  border-radius: 30px !important;
  height: 45px !important;
}

.see {
  cursor: pointer;
}

.dv-bt-confirm {
  position: relative;
}
.dv-bt-confirm i {
  position: absolute;
  left: 1.5rem;
  font-size: 1.6rem;
  z-index: 99;
  top: 25%;
}

.dv-bt-confirm i.disabled {
  color: #7d828e !important;
}

.dv-bt-confirm button {
  height: 50px;
  width: 100%;
  border-radius: 30px;
  position: relative;
}
