

<html>
<body>
  
<table>
    <tr>
        <th>Quantidade</th>
        <th>Referente</th>
        <th>Total</th>
    </tr>
    {{#each dado}}
    <tr>
     
        <td>{{quantidade}}</td>
        <td>{{referente}}</td>
        <td>{{valortotal}}</td>
    </tr>
    {{/each}}
</table>
</body>
</html>